{% extends 'myapp/base.html' %}
<html>
<head>
    {% block title %}
    <title>contact soon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    {% endblock %}
</head>
<body>
{% block content %}
    <style>
    h1{font-size: 50px;
    color: blue}
    h2{font-size: 50px;color: green;}
    </style>
<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8" style="background-color: lightgray">
            <h1 align="center">Kindly wait for a call</h1>
            <h2><marquee scrollmount="100"><b>We will contact you soon..</b></marquee></h2>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>